<div class="page-container">
  <% if flash.any? %>
    <% flash.each do |type, msg| %>
      <p class="error-msg"><%= msg %></p>
    <% end %>
  <% end %>
  
  <h3 class="small-title">Please select the session.</h3>

  <% @sessions.each do |session| %>
    <div class="list-card">
      <p>
        <h3 class="small-title"><%= session["name"] %></h3>
      </p>
      <p class="detail-text">
        <span class="bold">Date:</span>
        <span><%= session["date"] %></span>
      </p>

      <p class="detail-text">
        <span class="bold">Time:</span>
        <span><%= session["start_time"] %> - <%= session["end_time"] %></span>
      </p>

      <% if session["allow_ask_a_question"] == true %>
        <%= button_to "Disable Questions", question_disable_organization_event_session_detail_path(id: session["id"]), method: :post, params: { organization_id: @organization_id, event_id: session["event_id"], id: session["id"] }, class: "blue button" %>
      <% elsif session["allow_ask_a_question"] == false %>
        <%= button_to "Enable Questions", question_enable_organization_event_session_detail_path(id: session["id"]), method: :post, params: { organization_id: @organization_id, event_id: session["event_id"], id: session["id"] }, class: "green button" %>
      <% end %>

    </div>
  <% end %>

</div>
