<%= render 'events/nav', {organization_id: @organization_id, id: @event_id} %>

<div class="page-container">
  <% if flash.any? %>
    <% flash.each do |type, msg| %>
      <p class="error-msg"><%= msg %></p>
    <% end %>
  <% end %>

  <h3 class="small-title">Change Session Settings: Ask a Question, Live Polls</h3>

  <% @sessions.each do |session| %>
    <div class="list-card">
      <p>
        <h3 class="small-title"><%= session["name"] %></h3>
      </p>
      <p class="detail-text">
        <span class="bold">Date:</span>
        <span><%= session["date"] %></span>
      </p>

      <p class="detail-text">
        <span class="bold">Time:</span>
        <span><%= session["start_time"] %> - <%= session["end_time"] %></span>
      </p>

      <div class="button-container">
        <% if session["allow_ask_a_question"] == true %>
          <%= button_to "Disable Questions", question_disable_organization_event_session_detail_path(id: session["id"]), method: :post, params: { event_id: session["event_id"] }, class: "blue button" %>
        <% elsif session["allow_ask_a_question"] == false %>
          <%= button_to "Enable Questions", question_enable_organization_event_session_detail_path(id: session["id"]), method: :post, params: { event_id: session["event_id"] }, class: "green button" %>
        <% end %>
      </div>

      <div class="button-container">
        <% if session["poll_payload"] %>
          <% if session["poll_payload"]["visible"] == true %>
            <%= button_to "Hide Live Polls", poll_hide_organization_event_session_detail_path(id: session["id"]), method: :post, params: { event_id: session["event_id"], poll_payload: session["poll_payload"].to_json }, class: "blue button" %>
          <% elsif session["poll_payload"]["visible"] == false %>
            <%= button_to "Show Live Polls", poll_show_organization_event_session_detail_path(id: session["id"]), method: :post, params: { event_id: session["event_id"], poll_payload: session["poll_payload"].to_json }, class: "green button" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
