<div class="page-container">
  <h3 class="small-title center-text event-title"><%= @event_data["name"] %></h3>
  <h3 class="small-title center-text">Select an option to manage your app.</h3>

  <div class="list-block-container">

    <%= link_to(new_organization_event_alert_path(organization_id: @organization_id, event_id: @event_id), class: "list-link") do %>
      <div class="list-block list-feature">
        <i class="fa fa-bullhorn icon-feature" aria-hidden="true"></i>
        <span class="small-title">Send Announcement</span>
      </div>
    <% end %>

    <%= link_to(organization_event_surveys_path(organization_id: @organization_id, event_id: @event_id), class: "list-link") do %>
      <div class="list-block list-feature">
        <i class="fa fa-clipboard icon-feature" aria-hidden="true"></i>
        <span class="small-title">Manage Surveys</span>
      </div>
    <% end %>

    <%= link_to(organization_event_session_details_path(organization_id: @organization_id, event_id: @event_id), class: "list-link") do %>
      <div class="list-block list-feature">
        <i class="fa fa-calendar icon-feature" aria-hidden="true"></i>
        <span class="small-title">Manage Live Polls &amp; Questions</span>
      </div>
    <% end %>

    <%= link_to("https://eventmobi.com/#{@event_data["shortcode"]}", class: "list-link", target: :_blank) do %>
      <div class="list-block list-feature">
        <i class="fa fa-external-link icon-feature" aria-hidden="true"></i>
        <span class="small-title">View App</span>
      </div>
    <% end %>

    <div class="list-link">
      <div class="list-block list-feature">
        <i class="fa fa-question icon-feature" aria-hidden="true"></i>
        <span class="small-title contact-support">Contact Support</span>
      </div>
    </div>

    <%= link_to(organization_events_path(organization_id: @organization_id), class: "list-link") do %>
      <div class="list-block list-feature">
        <i class="fa fa-arrow-circle-o-left icon-feature" aria-hidden="true"></i>
        <span class="small-title">Change Event</span>
      </div>
    <% end %>

    <%= link_to(sessions_path, method: :delete, data: { confirm: "Are you sure you want to log out?"}, class: "list-link") do %>
      <div class="list-block list-feature">
        <i class="fa fa-sign-out icon-feature" aria-hidden="true"></i>
        <span class="small-title">Log Out</span>
      </div>
    <% end %>

  </div>

</div>
