<h1>Edit Session</h1>

<%= link_to "Back", root_path %>

<%= form_tag({controller: "pages", action: "update"}, method: "patch") do %>
  <div class="">
    <%= label_tag(:name, "Name: ") %>
    <%= text_field_tag(:name, @session["name"]) %>
  </div>

  <div class="">
    <%= label_tag(:description, "Description: ") %>
    <%= text_field_tag(:description, @session["description"]) %>
  </div>

  <div class="">
    <%= label_tag(:location, "Location: ") %>
    <%= text_field_tag(:location, @session["location"]) %>
  </div>

  <div class="">
    <%= label_tag(:start_time, "Start Date and Time: ") %>
    <%= datetime_local_field_tag(:start_time, @session["start_time"]) %>
  </div>

  <div class="">
    <%= label_tag(:end_time, "End Date and Time: ") %>
    <%= datetime_local_field_tag(:end_time, @session["end_time"]) %>
  </div>

  <%= submit_tag("Update Session") %>
<% end %>
