<h1>EM Onsite App</h1>

<%= link_to "Access CMS Page", access_path %>
<br><br>
<%= link_to "Create a New Session", new_page_path %>
<br><br>
<%= link_to "Send Alert", alert_path %>

<% @sessions.each do |session| %>
  <h3><%= session["name"]%></h3>
  <%= session["description"] %>
  <% if session["tracks"].any? %>
    <p>Tracks: <%= session["tracks"][0]["name"] %></p>
  <% end %>
  <%= link_to "Edit", edit_page_path(session["id"]) %>
<% end %>
