<h1>EM Onsite App</h1>

<%= link_to "Access CMS Page", access_path %>
<br><br>
<%= link_to "Create a New Session", new_page_path %>
<br><br>
<%= link_to "Send Announcement", new_alert_path %>

<%= link_to "Send Alert (Old)", alert_path %>

<%= link_to "Surveys", surveys_path %>

<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <p class="error-msg"><%= msg %></p>
  <% end %>
<% end %>

<% if @sessions %>
  <% @sessions.each do |session| %>
    <h3><%= session["name"]%></h3>
    <%= session["description"].html_safe %>
    <%= link_to "Edit", edit_page_path(session["id"]) %>
  <% end %>
<% end %>

<%= link_to "Log Out", session_path(session[:exp_user]), method: :delete, data: { confirm: "Are you sure you want to log out?"} %>
