<div class="page-container">

  <h3 class="small-title">Send Announcement</h3>

  <% if flash.any? %>
    <% flash.each do |type, msg| %>
      <p class="error-msg"><%= msg %></p>
    <% end %>
  <% end %>

  <%= form_tag(organization_event_alerts_path, method: "post") do %>
    <div class="form-field">
      <%= label_tag(:title, "Subject", class: "form-label") %>
      <%= text_field_tag(:title, nil, class: "form-input") %>
    </div>

    <div class="form-field">
      <%= label_tag(:content, "Message", class: "form-label") %>
      <%= text_area_tag(:content, nil, class: "form-input") %>
    </div>

    <h3 class="small-title">Schedule</h3>

    <div class="form-field">
      <%= check_box_tag(:scheduled, true) %>
      <%= label_tag(:scheduled, "Schedule Announcement") %>
    </div>

    <p>Data and Time to Send Announcement</p>

    <div class="form-field">
      <%= date_field(:date__scheduled_date, nil, class: "form-input inline ") %>

    <span class="between-inputs"> at </span>

      <%= time_field(:time__scheduled_date, nil, class: "form-input inline") %>
    </div>

    <h3 class="small-title">Options</h3>

    <div class="form-field">
      <%= check_box_tag(:send_as_email, true) %>
      <%= label_tag(:send_as_email, "Send Email") %>
    </div>

    <div class="submit-button-container">
      <%= submit_tag("Send Announcement", class: "green button") %>
    </div>
  <% end %>

</div>`

<!-- {"title":"Scheduled Announcement",
"content":"<p>Boop!</p>",
"scheduled":true,
"send_as_email":true,
"recipient_type":"all",
"people_group_ids":[],
"date__scheduled_date":"November 25, 2017",
"time__scheduled_date":"06:00 PM",
"scheduled_date":"2017-11-25 23:00:00"} -->

<!-- "title": "Kitten Boop!",
"content": "<p>Hello!</p>",
"scheduled": false,
"send_as_email": false,
"recipient_type": "all",
"people_group_ids": [],
"send_as_push": false,
"scheduled_date": nil -->
