<!DOCTYPE html>
<html>
  <head>
    <title>EmOnsiteApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/1b2845ba6c.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" href="/em_favicon.png"/>
  </head>

  <body class="<%= controller_name %>-<%= action_name %>">
    <% unless controller_name == "sessions" %>
      <nav>
        <div class="main-nav">

          <% if request.url == root_url || request.url == organizations_url || request.url == organization_events_url %>
            <%= link_to "back", request.referer.present? ? request.referer : root_path, class: "nav-icon-area" %>
            <i class="fa fa-arrow-left nav-icon" aria-hidden="true"></i>
          <% else %>
            <%= link_to "menu", organization_event_path(organization_id: params[:organization_id], id: params[:event_id].present? ? params[:event_id] : params[:id]), class: "nav-icon-area" %>
            <i class="fa fa-bars nav-icon" aria-hidden="true"></i>
          <% end %>

          <div class="centered nav-title-container">
            <img src="https://eventmobi.com/api/events/9443/documents/download/3ffcd4ce-20bf-486e-aefc-1446ddd05023.png/as/logo_text_only.png" alt="EventMobi" class="small-logo-container">
            <span class="title-onsite">onsite</span>
          </div>
        </div>
      </nav>
    <% end %>

    <%= yield %>

    <div class="modal-container">
      <div class="contact-support-modal centered">
        <h3 class="small-title center-text bold">Need Help?</h3>
        <i class="fa fa-times contact-close" aria-hidden="true"></i>
        <p class="center-text">We're here for you! Please feel free to contact support by:</p>
        <p class="center-text">Phone: <a href="tel:1-888-296-8415" class="contact-link">1-888-296-8415 ext. 2</a></p>
        <p class="center-text">Email: <%= link_to("support@eventmobi.com", "mailto:support@eventmobi.com", class: "contact-link") %></p>
        <p class="center-text">Live Chat: <%= link_to("Click to start chat", "", class: "contact-link") %></p>
        <p class="small-text center-text">
          <span>Hours of Availability: Mon - Fri, 3am-8pm EST</span>
          <br>
          <span>Sat - Sun, 9am-5pm EST</span></p>
      </div>
    </div>

  </body>
</html>
